<br>
<ul class="list-group text-center">
  <li class="list-group-item active row">
    <div class="col-sm-3">金額</div>
    <div class="col-sm-3">類型</div>
    <div class="col-sm-3">標籤</div>
    <div class="col-sm-3">#</div>
  </li>
  <% resourses.each do |resourse| %>
  <li class="list-group-item row">
    <% if resourse.type == "Expense" %>
      <%= link_to account_expense_path(resourse), class: "list-group-item list-group-item-warning col-sm-9" do %>
        <div class="col-sm-4"><%= resourse.money %></div>
        <div class="col-sm-4"><%= "支出" %></div>
        <div class="col-sm-4"><%= resourse.label %></div>
      <% end %>
      <div class="col-sm-3">
        <div class="btn-group">
          <%= link_to 'Edit', edit_account_expense_path(resourse), class: "btn btn-default", role: "button" %>
          <%= link_to 'Delete', account_expense_path(resourse), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %>
        </div>
      </div>
    <% elsif resourse.type == "Income" %>
      <%= link_to account_income_path(resourse), class: "list-group-item list-group-item-info col-sm-9" do %>
        <div class="col-sm-4"><%= resourse.money %></div>
        <div class="col-sm-4"><%= "收入" %></div>
        <div class="col-sm-4"><%= resourse.label %></div>
      <% end %>
      <div class="col-sm-3">
        <div class="btn-group">
          <%= link_to 'Edit', edit_account_income_path(resourse), class: "btn btn-default", role: "button" %>
          <%= link_to 'Delete', account_income_path(resourse), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %>
        </div>
      </div>
    <% end %>
  </li>
  <% end %>
</ul>
