<div class="flex-item">
  <div class="flex-item mr-1">
    <%= link_to "查看所有", records_path, class: "btn btn-default" %>
    <%= link_to "查看支出", records_path(q: {type_eq: "Expense" }), class: "btn btn-default" %>
    <%= link_to "查看收入", records_path(q: {type_eq: "Income" }), class: "btn btn-default" %>
  </div>
  <div class="flex-item ml-1 mr-1 form-inline">
    <%= select_tag "year", options_for_select((2017..Date.today.year)), id: "year", class: "form-control" %>
    <%= select_tag "month", options_for_select(1..12), id: "month", class: "form-control", include_blank: true %>
    <%= link_to t('analysis.submit'), analysis_path, class: "btn btn-primary", id: "analysis" %>
  </div>
  <div class="flex-item ml-1">
    <%= link_to '新增收入', income_records_path, class: "btn btn-info" %>
    <%= link_to '新增支出', expense_records_path, class: "btn btn-warning" %>
  </div>
</div>
<br>
<script type="text/javascript">
  $(document).ready(function () {
    $('#month').on('change', function () {
      $('#analysis').attr('href', '<%= analysis_url %>/?month=' + $('#month').val() + '&year=' + $('#year').val());
    });
    $('#year').on('change', function () {
      $('#analysis').attr('href', '<%= analysis_url %>/?month=' + $('#month').val() + '&year=' + $('#year').val());
    });
  })
</script>
